<div class="list-group-item">
    <div>
        <strong><a href="@Comment.uri" target="_blank">@Comment.title</a><br />
        @at@Comment.author</strong> - 
        @if (@Comment.isEdited)
        {
            @edited
        }
        @if (@refDate.Day == DateTime.Now.Day)
        {
            @refDate.ToString("h:mm tt")
        }
        else
        {
            @refDate.ToString("M/dd h:mm tt")
        }
    </div>
    @FromMarkdown(Comment.body)
    @if (Comment.replies?.Count > 0)
    {
        <div class="list-group" style="max-width: inherit; overflow-wrap: anywhere;">
            @foreach (var reply in Comment.replies.Values.OrderBy(c => c.created))
            {
                var replyRefDate = reply.isEdited ? reply.updated : reply.created;
                <div class="list-group-item">
                    <div>
                        <strong>@at@reply.author</strong> -
                        @if (@replyRefDate.Day == DateTime.Now.Day)
                        {
                            @replyRefDate.ToString("h:mm tt")
                        }
                        else
                        {
                            @replyRefDate.ToString("M/dd h:mm tt")
                        }
                    </div>
                    @FromMarkdown(reply.body)
                </div>
            }
        </div>
    }
</div>

@code {

    [Parameter]
    public ClientComment Comment { get; set; }

    private string at = "@";
    private string edited = "edited ";
    private DateTime refDate;

    protected override async Task OnInitializedAsync()
    {
        refDate = Comment.isEdited ? Comment.updated : Comment.created;
    }

    private MarkupString FromMarkdown(string s)
    {
        var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
        return new MarkupString(Markdown.ToHtml(s, pipeline));
    }
}